/* Base styling for smaller screens */
body {
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    padding-left: 2%;
}

.bordered-div {
    border: 2px solid black; /* Adjust the thickness, style, and color of the border */
    padding: 10px; /* Optional: adds space inside the div */
}

/* Mobile devices: Up to 649px */
@media screen and (max-width: 649px) {
    body {
        background-color: #d1a1d0;
        min-height: 36px;
        line-height: 36px;
    }
}

/* Medium devices: Between 650px and 1199px */
@media screen and (min-width: 650px) and (max-width: 1199px) {
    body {
        background-color: #728c8a;
        min-height: 37px;
        line-height: 37px;
        padding-left: 3%;
        margin-bottom: 7px;
    }
}

/* Larger devices: Between 1200px and 1599px */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    body {
        background-color: #a0a0b3;
        min-height: 38px;
        line-height: 38px;
        padding-left: 3%;
        margin-bottom: 8px;
    }
}

/* Very large devices: 1600px and above */
@media screen and (min-width: 1600px) {
    body {
        background-color: LightBlue;
        min-height: 40px;
        line-height: 40px;
        padding-left: 5%;
        margin-bottom: 11px;
    }
}